<title>Error 404</title>

<main class="col-12 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
  <h1><span class="yellow">Error 404</span> - Page not found</h1>
  <h4><%= url %></h4>
  <p>Unfortunately, the page you are looking for doesn't exist or isn't finished yet.</p>
  <p>If you think this is an error, please <a href="/contact">let me know</a> and I'll fix it immediately.</p>
  <img src="/images/hedge-maze.jpg" alt="<A hedge maze>" class="img-fluid border shadow preview">
</main>