<title>Home - Valeriy Djulai</title>

<main class="col-12 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
  <h1>About Me</h1>
  <p>
    My name is Valeriy, and I'm currently studying a Bachelor of Computer
    Science at Monash, Melbourne.
  </p>
  <p>
    I've been programming for over 6 years and have been learning many different
    languages and specialisations in the IT industry, and I'm hoping to
    eventually work at Google after I finish my studies.
  </p>
  <img src="/images/valeriy-suit.jpg" alt="<A picture of me>" class="border shadow"/>

  <hr />

  <h1>My Interests</h1>
  <p>
    I enjoy distracting myself from school and responsibilities with
    <a href="/other/photography-cinematography" class="yellow">Photography and Cinematography</a>, 
    <a href="/other/car" class="yellow">Cars and Road Trips</a>, as well as 
    <a href="/other/setup" class="yellow">playing Games</a>
  </p>
</main>
